{% extends 'update_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
<div class="col-lg-4 offset-3 mx-auto">
    <div class="box border-dark">
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %} 
            {% for field in form %}

                        <div class="form-group">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                   class="form-control"
                                   name="{{ field.name }}"
                                   id="id_{{ field.name }}"
                                   value="{{ field.value|default_if_none:'' }}"
                                   placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div>
                        {% endfor %}

                    
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-lg btn-block">
                         Update
                    </button>
                </div>
    
        </form>
    </div>
</div>

   
    {% endblock %}